
.glyphicon-ok {
		color: green!important;
	}

#sign_up_form div label span .glyphicon-remove {
	color: red!important;
}

.red{
	color: red;
}

.black{
	color: rgb(0, 0, 0);
}

.glyphicon-remove {
		color: red!important;
}

.nav li a{
	cursor:pointer!important;
}

#patient_table td{
	cursor:pointer;
}


footer {
      background-color: #2d2d30;
      color: #f5f5f5;
      padding: 32px;
  }